@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. 1600px
2. 1440px
3. 1280px
4. 1199px
5. 1024px
6. 991px
7. 959px
8. 880px
9. 768px
10. 767px
11. 539px
12. 479px
13. 400px

******************************/

/************
1. 1600px
************/

@media only screen and (max-width: 1600px) {}

/************
2. 1440px
************/

@media only screen and (max-width: 1440px) {}

/************
3. 1380px
************/

@media only screen and (max-width: 1380px) {}

/************
3. 1280px
************/

@media only screen and (max-width: 1280px) {}

/************
4. 1199px
************/

@media only screen and (max-width: 1199px) {
	.phone {
		display: none !important;
	}

	.menu .phone {
		display: block !important;
	}

	.logo {
		left: auto;
	}

	.main_nav {
		margin-left: 90px;
	}

	.loader_col:nth-last-child(n+3) {
		margin-bottom: 60px;
	}

	.milestone_col:nth-last-child(n+3) {
		margin-bottom: 60px;
	}

	.service_col:nth-last-child(n+4) {
		margin-bottom: 0px;
	}

	.service_col:nth-last-child(n+3) {
		margin-bottom: 79px;
	}
}

/************
4. 1100px
************/

@media only screen and (max-width: 1100px) {}

/************
5. 1024px
************/

@media only screen and (max-width: 1024px) {}

/************
6. 991px
************/

@media only screen and (max-width: 991px) {
	.hamburger {
		display: block;
	}

	.hamburger_bar {
		display: block;
	}

	.main_nav {
		display: none;
	}

	.tabs_col {
		margin-top: 80px;
	}

	.footer_nav ul li:not(:last-of-type) {
		margin-right: 40px;
	}
}

/************
7. 959px
************/

@media only screen and (max-width: 959px) {}

/************
8. 880px
************/

@media only screen and (max-width: 880px) {}

/************
9. 768px
************/

@media only screen and (max-width: 768px) {}

/************
10. 767px
************/

@media only screen and (max-width: 767px) {
	.hamburger_bar {
		right: calc((100vw - 510px) / 2 - 15px);
	}

	.home_title {
		font-size: 72px;
		margin-top: -4px;
	}

	.home_subtitle {
		font-size: 14px;
		margin-top: -4px;
	}

	.loader_col:nth-last-child(n+3) {
		margin-bottom: 0px;
	}

	.loader_col:not(:last-child) {
		margin-bottom: 60px;
	}

	.milestone_col:nth-last-child(n+3) {
		margin-bottom: 0px;
	}

	.milestone_col:not(:last-child) {
		margin-bottom: 60px;
	}

	.service_col:nth-last-child(n+3) {
		margin-bottom: 0px;
	}

	.service_col:not(:last-child) {
		margin-bottom: 79px;
	}
}

/************
11. 575px
************/

@media only screen and (max-width: 575px) {
	p {
		font-size: 13px;
	}

	.home {
		height: 70vh;
	}

	.header_content,
	.header.scrolled .header_content {
		height: 65px;
	}

	.hamburger_bar {
		right: 0px;
		height: 65px;
	}

	.home_title {
		font-size: 48px;
	}

	.section_title {
		font-size: 48px;
	}

	.text_highlight {
		font-size: 15px;
	}

	.google_map {
		height: 350px;
	}

	.footer_content {
		padding-bottom: 40px;
	}

	.footer_nav ul li:not(:last-of-type) {
		margin-right: 0px;
		margin-bottom: 10px;
	}

	.footer_image {
		opacity: 0.5;
	}
}

/************
11. 539px
************/

@media only screen and (max-width: 539px) {}

/************
12. 480px
************/

@media only screen and (max-width: 480px) {}

/************
13. 479px
************/

@media only screen and (max-width: 479px) {}

/************
14. 400px
************/

@media only screen and (max-width: 400px) {}