/*//////////////////////////////////////////////////////////////////
[ FONT ]*/


@font-face {
    font-family: Montserrat-Regular;
    src: url('../fonts/montserrat/Montserrat-Regular.ttf');
}

@font-face {
    font-family: Montserrat-Medium;
    src: url('../fonts/montserrat/Montserrat-Medium.ttf');
}

/*//////////////////////////////////////////////////////////////////
  [ RESTYLE TAG ]*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-family: sans-serif;
}

/* ------------------------------------ */
a {
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
}

/* ------------------------------------ */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

p {
    margin: 0px;
}

ul,
li {
    margin: 0px;
    list-style-type: none;
}


/* ------------------------------------ */
input {
    display: block;
    outline: none;
    border: none !important;
}

textarea {
    display: block;
    outline: none;
}

textarea:focus,
input:focus {
    border-color: transparent !important;
}

/* ------------------------------------ */
button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}



/*//////////////////////////////////////////////////////////////////
  [ Table ]*/



.wrap-table100 {
    width: 1300px;
}

/*//////////////////////////////////////////////////////////////////
  [ Table ]*/
table {
    width: 100%;
    background-color: #fff;
}

th,
td {
    font-weight: unset;
    padding-right: 10px;
}

.column100 {
    width: 130px;
    padding-left: 25px;
}

.column100.column1 {
    width: 265px;
    padding-left: 20px;
}

.row100.head th {
    padding-top: 24px;
    padding-bottom: 20px;
}

.row100 td {
    padding-top: 18px;
    padding-bottom: 14px;
}

/*==================================================================
[ Fix header ]*/
.table100 {
    position: relative;
    padding-top: 60px;
}

.table100-head {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.table100-body {
    max-height: 585px;
    overflow: auto;
}



/*==================================================================
  [ Ver5 ]*/
.table100.ver5 tbody tr:nth-child(even) {
    background-color: #e9faff;
}

.table100.ver5 td {
    font-family: Montserrat-Regular;
    font-size: 14px;
    color: #808080;
    line-height: 1.4;
    position: relative;
}

.table100.ver5 th {
    font-family: Montserrat-Medium;
    font-size: 12px;
    color: #fff;
    line-height: 1.4;
    text-transform: uppercase;

    background-color: #002933;
}

/* .table100.ver5 .row100:hover td {
    color: #eb2a2a;
} */

.table100.ver5 .hov-column-ver5 {
    color: #eb2a2a;
}


.table100.ver5 .hov-column-ver5::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2;
}

.table100.ver5 .hov-column-head-ver5 {
    background-color: #1a3f48 !important;
    color: #eb2a2a;
}

.table100.ver5 .row100 td:hover {
    background-color: #eb2a2a;
    color: #fff;
}

/* .column100:hover:nth-child(even) {
    background-color: blue;
    color: #fff;
} */

.table100-body .row100 td:hover:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    border: 1px solid #eb2a2a;
}


.background_image {
    background-image: url("../images/mku2.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;


}

footer {
    padding-top: 40px;
}

.highlight {
    background-color: #eb2a2a;
}